name: CI/CD Laravel

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Private Registry
        run: |
          echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login ${{ secrets.REGISTRY_URL }} --username "${{ secrets.REGISTRY_USER }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.REGISTRY_URL }}/laravel_app:latest -f Dockerfile.prod .

      - name: Push Docker image to private registry
        run: |
          docker push ${{ secrets.REGISTRY_URL }}/laravel_app:latest

      - name: SSH Deploy to VPS
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /srv/term-extractor
            docker pull ${{ secrets.REGISTRY_URL }}/laravel_app:latest
            docker-compose -f docker-compose.prod.yml up -d
